// Prefix
$css-prefix: po-;
$css-prefix-iconfont: po-icon;

// Color
$primary-color: #2d8cf0;
$info-color: #2db7f5;
$sucess-color: #19be6b;
$processing-color: $primary-color;
$waining-color: #ff9900;
$error-color: #ed4014;
$normal-color: #e6ebf1;
$link-color: #2D8cF0;
$link-hover-color: tint($link-color, 20%);
$link-active-color: shade($link-color, 5%);
$selected-color: fade($primary-color, 90%);
$tooltip-color: #fff;
$white: #fff;
$black: #000;

// Base
$body-background: #fff;
$component-background: #fff;
$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$code-family:  Consolas,Menlo,Courier,monospace;
$title-color: #17233d;
$text-color: #515a6e;
$text-color-secondary: fade($black, 45%);
$heading-color: fade(#000, 85%);
$heading-color-dark: fade($white, 100%);
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-large: 16px;
$line-height-base: 1.5;
$line-height-computed: floor($font-size-base * $line-height-base);
$border-radius-base: 6px;
$border-radius-small: 4px;
$cursor-disabled: not-allowed;

// Vertical padding
$padding-lg: 24px;
$padding-md: 16px;
$padding-sm: 12px;
$padding-xs: 8px;

// Border color
$border-color-base      : #dcdee2;  // outside
$border-color-split     : #e8eaec;  // inside
$border-width-base      : 1px;            // width of the border for a component
$border-style-base      : solid;          // style of a components border

// Button
$btn-font-weight: normal;
$btn-padding-base: 5px 15px 6px;
$btn-padding-large: 6px 15px 6px 15px;
$btn-padding-small: 1px 7px 2px;
$btn-padding-base-icon: 5px 15px 6px;
$btn-padding-large-icon: 6px 15px 6px 15px;
$btn-padding-small-icon: 1px 7px 2px;
$btn-font-size: 12px;
$btn-font-size-large: 14px;
$btn-border-radius: 4px;
$btn-border-radius-small: 3px;
$btn-group-border: shade($primary-color, 5%);
$btn-disable-color      : #c5c8ce;
$btn-disable-bg         : #c5c8ce;
$btn-disable-border     : $border-color-base;

$btn-default-color      : $text-color;
$btn-default-bg         : #fff;
$btn-default-border     : $border-color-base;

$btn-primary-color      : #fff;
$btn-primary-bg         : $primary-color;

$btn-ghost-color        : $text-color;
$btn-ghost-bg           : #fff;
$btn-ghost-border       : $border-color-base;

$btn-circle-size        : 32px;
$btn-circle-size-large  : 36px;
$btn-circle-size-small  : 24px;